@{
    ViewBag.Title = "Library";
}
    <head>
    </head>
    <body>
        <h2>Lista de Libros</h2>

        <ul id="bookList">
        </ul>
        <script>
            let lista = document.querySelector("#bookList");

            
            fetch('/Library/JsonListBooks')
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    myJson.map(book => {
                        let bookItem = document.createElement("li");
                        bookItem.classList.add("book-item");
                        let bookInfo = `
                            <h3>${book.Title}</h3>
                            <p>${book.Description}</p>
                            <img src="${book.Author}"/>
                        `;
                        console.log(book);
                        book.Author.map(author => bookInfo + `<p>${author.Name}</p>`)
                        bookItem.innerHTML = bookInfo;
                        lista.appendChild(bookItem);
                    })
                })
        </script>
    </body>