@using AccentureAccademyLibrary.GonzaloIriart.Models
@model Book

@{
    ViewBag.Title = "Agregar";
}

@{
    //Opciones para hacer llegar la lista de autores
    //1.Crear un clase del modelo que envuelva al Libro y tenga todos los datos
    //2.Crear un DataContext en este archivo con Razor
    //3.Pasarle la lista de autores en el BiewBag
    //4.Hacer un control especializado que sea un selector de autores
}

@{
    AccentureAccademyLibraryEntities db = new AccentureAccademyLibraryEntities();
    List<Author> autores = db.Author.OrderBy(au => au.Name).ToList();
}

<h2>AddBook Form</h2>

<form id="addForm" method="post">
    <div>
        <label for="txtTitulo">Title</label>
        <input type="text" id="txtTitulo" class="form-control" name="Title" value="" />
    </div>
    <div>
        <label for="txtReleaseDate">Release Date</label>
        <input type="datetime" id="txtReleaseDate" class="form-control" name="ReleaseDate" value="" />
    </div>
    <div>
        <label for="txtCover">Cover</label>
        <input type="text" id="txtCover" class="form-control" name="Cover" value="" />
    </div>
    <div>
        <label for="txtISBN">ISBN</label>
        <input type="text" id="txtISBN" class="form-control" name="ISBN" value="" />
    </div>
    <div>
        <label for="txtDescription">Description</label>
        <input type="text" id="txtDescription" class="form-control" name="Description" value="" />
    </div>
    <div>
        <label for="txtGenre">Genre</label>
        <input type="text" id="txtGenre" class="form-control" name="Genre" value="" />
    </div>
    <div>
        <label for="txtPublisher">Publisher</label>
        <input type="text" id="txtPublisher" class="form-control" name="Publisher" value="" />
    </div>
    <div id="authorsContainer">
        <div id="authorDiv">
            <label for="txtAuthor">Author</label>
            <input type="text" id="txtAuthor" class="form-control" name="Author" value="" />
        </div>
    </div>
    <button id="addAuthor">Add Author</button>

    <button id="addBook" style="margin-top: 1em">Send</button>
</form>
<script>

    let btnAddAuthor = document.querySelector("#addAuthor");
    let btnAddBook = document.querySelectar("#addBook");
    let authorsContainer = document.querySelector("#authorsContainer");
    btnAddAuthor.addEventListener("click", (e) => {
        e.preventDefault();
        let divAuthor = document.querySelector("#authorDiv");
        let divClone = divAuthor.cloneNode(true);
        authorsContainer.appendChild(divClone);
    });
    /*
    btnAddBook.addEventListener("click", addBook(e));
    function addBook(e) {
        e.preventDefault();
        let formAuthors = document.querySelectorAll("#txtAuthor");
        console.log(formAuthors);
        let authors = [];
        formAuthors.forEach(fa => authors.push(fa.value));
        let book = {
            Title: document.querySelector("#Title").value,
            ISBN: document.querySelector("#ISBN").value,
            ReleaseDate: document.querySelector("#ReleaseDate").value,
            Cover: document.querySelector("#Cover").value,
            Genre: document.querySelector("#Genre").value,
            Publisher: document.querySelector("#Publisher").value,
            Description: document.querySelector("#Description").value,
        }

        document.querySelector("#addForm").ajaxForm({
            url: '/Library/AddBook',
            data: { book, authors },
            type: 'post',
            success: function (res) {
                window.location.replace("/Home/Index");
            },
            error: function (response, status, xhr) {
                if (response.status == 422) {
                    console.log(response.responseText);
                }
            }
            */
</script>

