@model IEnumerable<AccentureAccademyLibrary.GonzaloIriart.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var book in this.Model){
    <p>@book.Title</p>
    foreach (var author in book.Author)
    {
        <p>@author.Name</p>
    }

}

